/*
 * Custom CSS for whoheregames.com
 * Copyright 2016 WhoHereGames
 */


.intro-background {
  opacity: 0.55;
  filter: blur(20px);
  filter: brightness(20%);
}

.intro-logo-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left:50%;
    padding: 25%;
    transform: translate(-50%,-50%);
}

.intro-logo {
    padding: 5%;
    width: 100%;
}

.intro-text {
  font-family: Verdana, serif;
  color: lightgrey;
  /*margin-left: 0%;*/
}

.nav-mini-logo {
    height: 100%;
    width: auto;
}
.nav-mini-logo:hover{
    -moz-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
}

.card-sample {
  border-radius: 25px;
  padding:1px;
  border:1px solid dimgrey;
}


section {
    padding-top: 50px;
    padding-bottom: 150px;
}

.section-title {
    padding-bottom: 75px;
    text-align: center;
    font-weight: bold;
    /*color: dimgrey;*/
}

.social-title {
    padding-bottom: 25px;
    text-align: center;
    font-weight: bold;
    /*color: dimgrey;*/
}

.social-icon {
    width: 25%;
    height: 25%;
}

.delay-1 {
    -webkit-animation-delay: .25s;
}
.delay-2 {
    -webkit-animation-delay: .50s;
}
.delay-3 {
    -webkit-animation-delay: 1.25s;
}

.bg-light-gray {
    background-color: lightgrey;
}
.bg-dark-grey {
    background: darkgrey;
}

.bg-gray {
    padding: 20px;
    background: grey;
}


ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    display: block;
    background-color: dimgrey;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: yellow;
    color: grey;
}







h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}

body {
    height: 100%;
    width: 100%;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.72222;
    color: #34495e;
    background-color: dimgrey;
}

li{list-style-type:none}
.white {color:white}
.hidden { visibility: hidden;}
.lead {
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.46428571;
    font-weight: 300;
}


.navbar-custom {
    background-color: grey;
    border-color: transparent;
}
.navbar-custom .navbar-brand {
    color: yellow;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: yellow;
}
.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
    background-color: yellow;
    border-color: yellow;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: grey;
    font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: yellow;
    color: grey;
}
.navbar-custom .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: yellow;
    outline: none;
}
.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: grey;
    background-color: yellow;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: grey;
    background-color: yellow;
}
@media (min-width: 768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom .navbar-nav > .active > a {
        border-radius: 3px;
    }
    /*h2 {*/
        /*font-size: small;*/
    /*}*/
}
@media (min-width: 768px) {
    .navbar-custom.affix {
        background-color: grey;
        padding: 10px 0;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
    /*h2 {*/
        /*font-size: small;*/
    /*}*/
}


@media (min-width: 320px) {
    h2 {
        font-size: 10px;
    }
}
@media (min-width: 500px) {
    h2 {
        font-size: 14px;
    }
}
@media (min-width: 800px) {
    h2 {
        font-size: 24px;
    }
}


/* Animate */
.rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow:hidden;

}

.rotate:hover
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}




.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-item {
    /*flex-basis: 100%;*/
    /*width: 140px;*/
    /*height: 140px;*/
    margin: 1%;
    padding: 1%;
    background-color: transparent;
    /*display: inline-block;*/
    /*margin-right: 20px;*/

}

.nav-icon{
    font-size: 8pt;
}